@font-face {
    font-family: pokemon;
    src: url(PUCHAMON.ttf);
}
*{
    margin:0;
    padding:0;
}
body{
    background-image: url('../imagenes/FondoPokemon.png');
    background-repeat: repeat;
    background-size: 100% auto;
}

header{
    width: 100%;
    height: auto;
    font-family: pokemon;
    color:#222224;
    font-size: 50px;
    text-align: center;
    font-weight: bold;
    vertical-align: left;
    padding-bottom: 30px;
}
nav{
    width: 100%;
    height: auto;
    background: blue;
}
section{
    text-align:justify;
    color:aliceblue;
    width: 100%;
    height: auto;
    background: rgb(58, 57, 56);
}
footer{     
    width: 100%;
    height: auto;
    background: rgb(72, 76, 128);
    margin-top: 15px;
    border-radius: 2%;
}

.right{
    float:right;
}
li a{
    display: block;
    color: black;
    text-align: center;
    padding: 16px 88px;
    text-decoration: none;
}
li a:hover{
    background-color:#4b262d ;
    color: #ebd463;
}
#principal{
    width: 90%;
    height: auto;
    margin:0 auto;
}
#navigator{
    
    list-style-type: none;
    margin:0px;
    padding-top: 0px;
    background: #f30d0d;
    overflow: hidden;
}
#left{
    float:left
}
#centered{
    float:right;
    padding: 16px 88px;
}
#center{
    float:center;
}
#centralImage{
    width: 600px;
    height: 350px;
    margin-top: 0%;
    margin-left:  25%;    
}
#foot{
    font-size: 20px;
    text-align: left;
    list-style-type: none;
    margin: 1px solid black;
    padding: 4px;
}

.pokeball{
    width: 100px;
    height: auto;
    vertical-align: middle;
}
.text{
    color:aliceblue;
    width: 90%;
    height: 90%;
    padding: 5%;
    background: rgb(58,57,56);
}
.images{
    padding: 0px 10%;
    width: 100px;
    height: 100px;
}

/*Solo para el formulario*/
#myForm{
    width: auto;
    height: auto;
    text-align: center;
    background: white;
    margin-top: 5px;
    margin-left: 25%;
    margin-right: 25%;
    border-style: groove;
    border-radius: 0%;
    border-color:#1a2537;
}

input[type="text"]{
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding: 10px;
}
input[type="date"]{
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding: 10px;
}
input[type="email"]{
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding: 10px;
}
input[type="password"]{
    text-align: center;
    font-size: 15px;
    width: 80%;
    padding: 10px;
}
h2{
    color: #1a2537;
}
.button{
   
    color: white;
    background: #1a2537;
    font-size: 15px;
    padding: 10px;
    border: none;
    cursor: pointer;

}
.register-nav{
    color: #1a2537;
    background-color:#ffffff ;
    float:right;
}